In [1]:
# import dependencies
import pandas as pd

In [5]:
# List of High Schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [6]:
# Create a Panda Series from a list
school_series = pd.Series(high_schools)

In [4]:
# A Dictionary of high schools and the type of school
# high_school_types = [{"High School": "Griffin", "Type": "District"}, 
#                     {"High School": "Figueroa", "Type": "District"}, 
 #                    {"High School": "Griffin", "Type": "District"},
  #                   {"High School": "Wilson", "Type": "Charter"}, 
   #                  {"High School": "Wright", "Type": "District"}
                    ]

# for key in high_school_types:
#    print(key)

IndentationError: unexpected indent (1820666175.py, line 7)

In [7]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [8]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
# Create a dataframe
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School", 
               "Shelton High School", "Hernandez High School",
               "Griffin High School", "Wilson High School",
               "Cabrera High School", "Bailey High School", 
               "Holden High School", "Pena High School", 
               "Wright High School", "Rodriguez High School", 
               "Johnson High School", "Ford High School", 
               "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", " District", "District", "Charter"]

In [24]:
# Initialize a new DataFrame

schools_df = pd.DataFrame()

# Add the list to a new dataframe

high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

# Print the DataFrame
print(high_schools_dict)

{'School ID': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], 'school_name': ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School'], 'type': ['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', ' District', 'District', 'Charter']}

In [28]:
schools_df = pd.DataFrame(high_schools_dict)

schools_df

    School ID            school_name       type
0           0      Huang High School   District
1           1   Figueroa High School   District
2           2    Shelton High School    Charter
3           3  Hernandez High School   District
4           4    Griffin High School    Charter
5           5     Wilson High School    Charter
6           6    Cabrera High School    Charter
7           7     Bailey High School   District
8           8     Holden High School    Charter
9           9       Pena High School    Charter
10         10     Wright High School    Charter
11         11  Rodriguez High School   District
12         12    Johnson High School   District
13         13       Ford High School   District
14         14     Thomas High School    Charter

In [29]:
schools_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [30]:
schools_df.index

RangeIndex(start=0, stop=15, step=1)

In [32]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter'],
       [5, 'Wilson High School', 'Charter'],
       [6, 'Cabrera High School', 'Charter'],
       [7, 'Bailey High School', 'District'],
       [8, 'Holden High School', 'Charter'],
       [9, 'Pena High School', 'Charter'],
       [10, 'Wright High School', 'Charter'],
       [11, 'Rodriguez High School', 'District'],
       [12, 'Johnson High School', ' District'],
       [13, 'Ford High School', 'District'],
       [14, 'Thomas High School', 'Charter']], dtype=object)

In [46]:
schools_df.loc[10, 'school_name']

'Wright High School'